
  @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


  

/* Add a black background color to the top navigation */
.topnav {
  background-color: #002B5B;
  overflow: hidden;
  width: 100%;
  top: 0;
  text-align: center;
  margin-bottom: 0%;
  

  
}

/* Style the links inside the navigation bar */
.topnav a {
  display:inline-block;
  justify-content: center;

  font-family: "silkscreen";
  color: #F9F5EB;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;

}

/* Change the color of links on hover */
.topnav a:hover {
  justify-content: center;
  background-color: #F05831;
  color: rgb(#E4DCCF);
}

/* Add a color to the active/current link */
.topnav a.active {
  justify-content: baseline;
  background-color: #F05831;
  color: white;
  
}
  body {
    height: 100vh;
    margin: 0; 
      padding: 0; 
      box-sizing: border-box;
    background-color: #002B5B;
  
  .banner{
  background-color: #002044;
  height: 25%;
  
  }
  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;


  }

  .choose{
font-family: "silkscreen";
    font-size: large;
    color: #E4DCCF;
  text-align: center;
    margin-bottom: -5%;
    margin-top: 2%;
    
  }
  

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  display: flex;
  width: 33.33%;
 justify-content: center;
 margin-top: 2%;
 margin-bottom: -2%;

  
}

.column2 {
  float: left;
  display: flex;
  width: 33.33%;
 justify-content: center;
 padding-top: 8%;

  
}
.column3{
  float: left;
  display: flex;
  width: 33.33%;
 justify-content: center;
 margin-top: -1%;

}


/* Clear floats after the columns */
.row:after {
  display:flex;
  clear: both;
  
}

 

  ::placeholder{
    color:#002044;
    font-weight: 100;
  }
  .input {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 500;
  font-size: .8vw;
  color: #002B5B;
  background-color: #F9F5EB;
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  max-width: 190px;
  transition: .4s;
}

.input:hover {
  box-shadow: 0 0 0 .15vw #2a8dff;
}

.input:focus {
  box-shadow: 0 0 0 .15vw #F05831;
}
/*container login*/
.wrapper {
  margin-top: 11%;
  --input-focus: #F9F5EB;
  --font-color: #F9F5EB;
  --font-color-sub: #7e7e7e;
  --bg-color: #001124;
  --bg-color-alt: #7e7e7e;
  --main-color: #F05831;
  display: flex; 
  flex-direction: column; 
 align-items: center; 
}

/* switch card */
.switch {
  transform: translateY(-200px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.card-side::before {
  position: absolute;
  content: 'Log in';
  left: -70px;
  top: 0;
  width: 100px;
  text-decoration:none;
  color: white;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-side::after {
  position: absolute;
  content: 'Sign up';
  left: 70px;
  top: 0;
  width: 100px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.container-fluid{
  align-items: center;
  position: absolute;
  flex-direction: column;

}

/* card */ 

.flip-card__inner {
  width: 300px;
  height: 350px;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
    /* width: 100%;
    height: 100%; */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
  transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card__front {
  box-shadow: none;
}

.flip-card__front, .flip-card__back {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: var(--bg-color);
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.flip-card__back {
  width: 100%;
  transform: rotateY(180deg);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color:white;
  font-family: 'Silkscreen', cursive;
}

.flip-card__input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.flip-card__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
} 

.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  margin-top: 100px;
  align-self: center;
  margin-left:41%;
  float: left;

}

.form .title {
  color: #F05831;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.form input {
  outline: 0;
  border: 1px solid #F9F5EB;
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: center;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: #F05831;
  color: #fff;
  cursor: pointer;
}
    
}

.main_footer_copy   { background-color:#F05831; width:100%; float:left; font-family: 'Lato', sans-serif; text-align:center; padding:0.5em 0em; margin-top: 3%; position: fixed; bottom:0px; }
.main_footer_copy p { font-size:1em; color:#ffffff; height:10%; margin:auto}
.main_footer_copy .m-b-footer   { margin-bottom:1em; }
.main_footer_copy .by   { font-size:1em; }
.main_footer_copy .by a       { color:#fff; text-decoration:none; font-weight:600; transition:0.2s; }
.main_footer_copy .by a:hover { text-decoration:underline; color:#002044 }
.main_footer_copy .by i { font-size:1em; margin-right:3px; color:#F05831; }
/*Responsivo*/
/*768PX BREAKPOINT*/
